<!-- header -->
<%= render 'user_profiles/shared/header' %>

<!-- main -->
<main class="main">
  <div class="wrap">
    <div class="user-profile__wrap flex">
      <div class="user-profile-card">
        <div class="user-profile-card__top">
          <span>
            <%= @user.user_profile %>
          </span>
        </div>
        <figure class="user-profile__img">

        </figure>
      </div>
    </div>
  </div>
</main>
