<header class="user-header">
  <div class="wrap">
    <div class="user-header__inner flex">
      <div class="user-header__item flex">
        <%= link_to 'ホーム', '#', class: 'user-header__link home' %>
        <%= link_to current_user.email, '#', class: 'user-header__link user' %>
      </div>
      <%= link_to 'アウトプットする', '#', class: 'user-header__link output' %>
    </div>
  </div>
</header>
