// form

/* auth form */
.auth-form {
  background-color: #fff;
  padding: 35px 20px;
  &__wrap {
    max-width: 550px;
    padding: 100px 0 50px;
    margin: 0 auto;
  }
  &__item {
    width: 100%;
    margin-bottom: 15px;
    em {
      color: $color-deep-blue;
      font-weight: bold;
    }
    &:last-of-type {
      margin-top: 50px;
    }
  }
  &__label {
    @include fs-12;
    color: $color-deep-blue;
    font-weight: bold;
  }
  &__text {
    @include fs-14;
    width: 100%;
    padding: 0.3em 1em;
  }
  &__submit {
    @include fs-14;
    background-color: $color-deep-blue;
    color: #fff;
    border: none;
    width: 250px;
    padding: 0.5em 0;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    &:hover {
      opacity: 0.8;
    }
  }
  &__check {
    vertical-align: bottom;
  }
}

/* create knowhow form */
.knowhow-form {
  @include set-border(1px, solid, #e3e4e6);
  width: #{"min(60%, 550px)"};
  margin: 0 auto;
  border-radius: 5px;
  &__main {
    padding: 30px 0;
  }
  &__heading {
    @include fs-16;
    background-color: #e3e3e3;
    text-align: center;
    padding: 0.3em 0;
    border-radius: 5px 5px 0 0;
  }
  &__body {
    padding: 20px 10px;
  }
  &__item {
    margin-bottom: 20px;
  }
  &__label {
    @include fs-12;
    color: $color-deep-blue;
    font-weight: bold;
  }
  &__textfield,
  &__textarea,
  &__select {
    @include fs-14;
    padding: 0.3em 1em;
  }
  &__select {
    width: #{"min(35%, 200px)"};
  }
  &__textarea {
    resize: none;
  }
  &__textfield,
  &__textarea {
    width: 100%;
  }
  &__bottom {
    column-gap: 20px;
  }
  &__submit {
    @include fs-14;
    background-color: #2171c1;
    border: none;
    color: #fff;
    padding: 0.2em 1em;
    border-radius: 3px;
    cursor: pointer;
  }
}

/* search form */
.search-form {
  margin: 20px auto 0;
  width: #{"min(95%, 450px)"};
  justify-content: center;
  &__textfield {
    @include fs-14;
    @include set-border(1px, solid, #e3e4e6);
    border-radius: 5px 0 0 5px;
    width: 90%;
    padding: 0.4em 0.5em;
  }
  &__submit {
    border: none;
    background-color: #e3e3e3;
    border-radius: 0 5px 5px 0;
    width: 10%;
    background-image: url("ico_search.webp");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
}

/* user form */
.user-form {
  background-color: #fff;
  padding: 30px 20px;
  &__wrap {
    max-width: 550px;
    margin: 0 auto;
  }
  &__item {
    margin-bottom: 15px;
  }
  &__label {
    @include fs-12;
    color: #173055;
    font-weight: bold;
  }
  &__txt {
    &--caution {
      @include fs-12;
      margin-top: 5px;
      color: #de0a0a;
    }
  }
  &__text,
  &__select {
    @include fs-14;
    padding: 0.3em 1em;
  }
  &__text {
    width: 100%;
  }
  &__submit {
    @include fs-14;
    background-color: #173055;
    color: #fff;
    border: none;
    width: 250px;
    padding: 0.5em 0;
    cursor: pointer;
    margin: 30px auto 0;
    display: block;
  }
}
