// user

// user profile
.user-profile {
  &__wrap {
    justify-content: space-between;
    align-items: baseline;
  }
  &-card {
    @include set-border(1px, solid, #e3e4e6);
    width: 20%;
    border-radius: 5px;
    background-color: #fafbfd;
    &__top {
      @include fs-14;
      background-color: #e3e3e3;
      border-radius: 5px 5px 0 0;
      text-align: center;
      padding: 0.3em 0;
      span {
        position: relative;
        padding-left: 0.3em;
        &::before {
          @include set-pseudo("ico_user_black.webp", 13px, 15px);
          left: -1em;
        }
      }
    }
    &__list {
      @include fs-12;
      padding: 15px 0;
      word-break: break-all;
      li {
        position: relative;
        padding-left: 2.5em;
        &.birth {
          &::before {
            @include set-pseudo("ico_cake.webp", 15px, 13px);
            left: 0.5em;
            top: 3px;
          }
        }
        &.sex {
          &::before {
            @include set-pseudo("ico_gender.webp", 18px, 18px);
            left: 0.2em;
            top: 3px;
          }
        }
        &.tel {
          &::before {
            @include set-pseudo("ico_tel.webp", 13px, 15px);
            left: 0.5em;
            top: 3px;
          }
        }
        &.email {
          &::before {
            @include set-pseudo("ico_email.webp", 15px, 13px);
            left: 0.5em;
            top: 3px;
          }
        }
      }
    }
    &__btn {
      @include set-border(1px, solid, #e3e4e6);
      @include fs-14;
      margin: 10px auto 20px;
      display: block;
      cursor: pointer;
      background-color: transparent;
      padding: 0.2em 1.5em 0.2em 2em;
      &-wrap {
        position: relative;
        margin: 10px auto 20px;
        width: fit-content;
        &.follow {
          &::before {
            @include set-pseudo("ico_user_plus.webp", 18px, 20px);
            @include set-top-pos("18px");
            left: 10px;
          }
        }
        &.followed {
          &::before {
            @include set-pseudo("ico_user_black.webp", 18px, 20px);
            @include set-top-pos("18px");
            left: 10px;
          }
        }
      }
    }
    &__bottom {
      @include fs-14;
      background-color: #d9dadc;
      text-align: center;
      padding: 0.3em 0;
      border-radius: 0 0 5px 5px;
      span {
        position: relative;
        padding-right: 1.5em;
        &::after {
          @include set-pseudo("ico_arrow.webp", 20px, 18px);
          right: 0;
        }
      }
    }
  }
  &-knowhows {
    @include set-border(1px, solid, #e3e4e6);
    border-radius: 5px;
    width: 75%;
    background-color: #fafbfd;
    &__heading {
      @include fs-16;
      background-color: #e3e3e3;
      text-align: center;
      padding: 0.3em 0;
      border-radius: 5px 5px 0 0;
    }
    &__txt {
      @include fs-14;
      padding: 15px;
    }
    &__list {
      padding: 20px;
    }
    &-card {
      @include set-border(1px, solid, #e3e4e6);
      border-radius: 5px;
      padding: 20px;
      column-gap: 30px;
      margin-bottom: 15px;
      &__img {
        width: 100px;
      }
      &__detail {
        flex-direction: column;
        row-gap: 10px;
        .category {
          @include fs-12;
          position: relative;
          padding-left: 1.8em;
          &.news {
            &::before {
              @include set-pseudo("ico_news.webp", 18px, 15px);
              left: 0;
            }
          }
          &.share {
            &::before {
              @include set-pseudo("ico_share.webp", 18px, 15px);
              left: 0;
            }
          }
          &.knowhow {
            &::before {
              @include set-pseudo("ico_knowhow.webp", 18px, 15px);
              left: 0;
            }
          }
        }
        .title {
          @include fs-16;
        }
        .content {
          @include fs-14;
        }
        .date {
          @include fs-12;
          color: #848587;
        }
      }
    }
  }
}

/* user list */
.user-list {
  @include set-border(1px, solid, #e3e4e6);
  border-radius: 5px;
  width: 75%;
  background-color: #fafbfd;
  &__heading {
    @include fs-16;
    background-color: #e3e3e3;
    text-align: center;
    padding: 0.3em 0;
    border-radius: 5px 5px 0 0;
  }
  &__inner {
    padding: 20px;
    justify-content: flex-start;
    column-gap: 52px;
    row-gap: 25px;
  }
  &-card {
    width: 20%;
    &__top {
      @include fs-14;
      background-color: #e3e3e3;
      border-radius: 5px 5px 0 0;
      text-align: center;
      padding: 0.3em 0;
      span {
        position: relative;
        padding-left: 0.3em;
        &::before {
          @include set-pseudo("ico_user_black.webp", 13px, 15px);
          left: -1em;
        }
      }
    }
    &__bottom {
      @include fs-14;
      background-color: #d9dadc;
      text-align: center;
      padding: 0.3em 0;
      border-radius: 0 0 5px 5px;
      span {
        position: relative;
        padding-right: 1.5em;
        &::after {
          @include set-pseudo("ico_arrow.webp", 20px, 18px);
          right: 0;
        }
      }
    }
  }
}
