// basic
@import "_basic";

// mixin
@import "_mixin";

// header & footer
@import "_header_footer";

// form
@import "_form";

/* main */
.main {
  background-color: $color-blue;
  margin-top: 87.07px;
}

/* top page */
.top {
  padding: 50px 0;
  &__box {
    justify-content: space-evenly;
    &.reverse {
      margin-top: 50px;
      flex-direction: row-reverse;
    }
  }
  &-content {
    width: 45%;
    flex-direction: column;
    row-gap: 45px;
    justify-content: center;
    &__heading {
      @include fs-32;
      letter-spacing: 0.1em;
      color: $color-deep-blue;
    }
    &__txt {
      @include fs-16;
      color: $color-deep-blue;
    }
    &__btn {
      @include fs-14;
      @include set-border(1px, solid, #97b5d1);
      color: #74a5cc;
      position: relative;
      width: fit-content;
      border-radius: 100vh;
      padding: 0.5em 2em 0.5em 3em;
      &::before {
        @include set-pseudo("ico_unlock.webp", 15px, 17px);
        left: 1em;
      }
      &.use {
        &::before {
          @include set-pseudo("ico_user.webp", 15px, 17px);
          left: 1em;
        }
      }
    }
  }
  &__img {
    width: #{"min(50%, 550px)"};
  }
  &__card-bundle {
    margin-top: 50px;
    justify-content: space-between;
  }
  &-card {
    width: 30%;
    box-shadow: 0px 0px 5px 2px rgba(119, 119, 119, 0.6);
    border-radius: 5px;
    padding: 20px;
    &__img {
      height: 100%;
      border-radius: 5px;
      &-wrap {
        display: inline-block;
        height: 203px;
      }
    }
    &__heading {
      @include fs-16;
      font-weight: bold;
      color: $color-deep-blue;
      text-align: center;
    }
    &__txt {
      @include fs-14;
      color: $color-deep-blue;
      margin-top: 15px;
    }
  }
}

/* error message */
.err-list {
  @include fs-14;
  margin-bottom: 15px;
  &__item {
    font-weight: bold;
    color: #ea3f10;
  }
}

/* basic link */
.basic-link {
  @include fs-14;
  color: $color-deep-blue;
  width: fit-content;
  margin: 0 auto;
  &:hover {
    text-decoration: underline;
  }
}
